


.esqcima{
    background-color: red;
    width: 20%;
    height: 150px;
    position: absolute;
    top: 0;
    left:  0;
    
}
.esqbaixo{
    background-color: green;
    width: 20%;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
 

}
.dircima{
    background-color: yellow;
    width: 20%;
    height: 150px;
    position: absolute;
    right: 0 ;
    top: 0;
    
}
.dirbaixo{
    background-color: blue;
    width: 20%;
    height: 150px;
    position: absolute;
    right: 0;
    bottom: 0;
}